<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="theme-color" content="#ea6f5a"> {{!--
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> --}}
	<title>写文章</title>
	<link rel="stylesheet" type="text/css" href="/static/style/bootstrap.css">
	{{{_sections.homepage-css}}}
</head>

<body>

	{{{body}}}

	<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="http://apps.bdimg.com/libs/lodash/3.5.0/lodash.js"></script>
	<script type="text/javascript" src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script> 
  {{{_sections.homepage-js}}}
</body>

</html>