 .card {
   border: 1px solid rgb(230, 230, 230);
   border-radius: 5px;
   box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
   padding: 10px;
   margin: 10px 0;
   box-sizing: border-box;
   background-color: white;
   /* max-height: 300px; */
 }

 .author {
   height: 30px;
 }

 .abstract{
   position: relative;
   height: 200px;
 }

 .avatar {
   display: inline-block;
   vertical-align: middle;
   width: 30px;
   height: 30px;
   border-radius: 15px;
   overflow: hidden;
 }

 .avatar img {
   width: 100%;
 }

 .nickname {
   color: black;
 }

 .time{
   color: #8590a6;
 }

 .title {
   width: 100%;
   height: 100%;
 }

 .title h2 {
   display: block;
   margin: 5px;
   line-height: 1.5;
   font-size: 1.4em;
   font-weight: 600;
 }

  .preview {
    /* margin: 5px 10px; */
    padding: 0;
  }
  .a-img {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .preview img {
    width: 100%;
    border-radius: 5px;
  }

 .content {
   font-size: 14px;
   line-height: 1.8;
   padding: 10px;
 }
 .meta {
   height: 30px;
 }

 .tag {
   display: inline-block;
   padding: 1px 3px;
   margin-right: 5px;
   font-size: 14px;
   text-align: center;
   text-decoration: none;
 }

 .tag:hover {
   cursor: pointer;
 }

 .meta .praise {
   display: inline-block;
   width: 60px;
   height: 30px;
   line-height: 30px;
   border: solid 1px transparent;
   border-radius: 5px;
   background-color: rgba(0, 132, 255, .1);
 }
 
 .meta .is-active {
   background-color: #0084ff;
   color: #fff;
 }

 .complete {
   margin-top: 10px;
   float: right;
 }