html, body{
    height:100%;
}
hr{
    margin: 10px 0px;
}

.bg{
    width: 100%;
    height: 100%;
    background-image: url(../image/1.jpg);
    background-size: cover;
}

.login-page{
    position: fixed;
    top:0;
    left: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.3);
    width:100%;
    height: 100%;
    margin:0;
    padding: 0;
}

.login-area{
    position: relative;
    top: 20%;
    padding:20px 20px 5px 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #333;
}
.sub-btn{
    margin-bottom: 10px;
}
.help-list{
    height: 20px;
    text-align: center;
}
.help-list .item{
    float:left;
}

.dotted{
    margin: 0 5px;
}

.close-icon{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: #000;
}

.close-icon:hover{
    text-decoration: none;
}
.info{
    text-align: center;
    color: rgb(201, 23, 23);
    font-size: 0.9em;
}
.loading{
    display: none;
}
