{{#section 'article-css'}}
    <link rel="stylesheet" type="text/css" href="/static/style/article.css"/>
{{/section}}
<div class="container article-container">
    <h3>{{{title}}}</h3>
    <div>{{{body}}}</div>
</div>
