{{!-- 登录组件 --}}


{{#section 'login-css'}}

<link rel="stylesheet" style="text/css" href='/static/style/login-page.css' />

<link rel="stylesheet" style="text/css" href="/static/style/loading.css">

{{/section}} 
 
{{!-- <div class="bg">
</div> --}}

<div class="container row login-page">
    <div class=" login-area col-md-4 col-md-offset-4 col-xs-12">
        <a class="close-icon glyphicon glyphicon-remove"></a>
        <div class="login-ti">
            <h1>账号密码登录</h1>
        </div>
        <form action='/login' method="POST" id="login-form">
            <div class="form-group row name ">
                <label for="username" class="control-label sr-only">用户名：</label>
                <div class="col-md-12">
                    <input type="text" id="username" placeholder="请输入用户名" name="username" class="form-control  input-lg">
                </div>
            </div>
            <div class="form-group row psw">
                <label for="password" class="control-label sr-only">密码</label>
                <div class="col-md-12">
                    <input type="password" id="password" placeholder="请输入密码" name="password" class="form-control input-lg">
                </div>
            </div>
            <div class="sub-btn">
                <button type="submit" class="btn btn-primary btn-block" id='login-btn' value="登录">登录</button>
            </div>
            <div class="info">
                <span></span>
            </div>
        </form>
        {{!--
        <div class="loading">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
            </div>
        </div> --}}
        <div class="help-list">
            <a href="/forget" class="item">忘了密码</a>
            <a href="/register" class="item">注册新账号</a>
            <a href="/suggestion" class="item">意见反馈</a>
        </div>
    </div>
</div>

{{#section 'login-js'}}

<script type="text/javascript" src="/static/js/login.js"></script>

{{/section}}