{{#section 'navbar'}}
<nav class="navbar navbar-default" id="my-nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="http://localhost:3000" class="navbar-brand"><img src="image/jlx.png" alt="brand"></a>
        </div>
        <ul class="nav navbar-nav navbar-right" >
            <li><a href="http://localhost:3000/write"><span class="glyphicon glyphicon-pencil"></span> 写点什么</a></li>
            <li><a href="http://localhost:3000/register"><span class="glyphicon glyphicon-user"></span> {{username}}</a></li>
            <li><a href="javascript: exit()"><span class="glyphicon glyphicon-off"></span> 退出</a></li>
        </ul>
    </div>
</nav>
<script type="text/javascript">
    $(function (){
        $(document).on("scroll", function(e){
            if($(document).scrollTop() > $("#my-nav").height()){
                $("#my-nav").addClass("navbar-fixed-top")
            }else{
                $("#my-nav").removeClass("navbar-fixed-top")
            }
        })
    })
</script>
{{/section}}
