    {{!-- <div class="col-md-10 content-main"> --}}
      {{!-- <ul id="article-list">
        <li class="row card article-item">
          <div class="col-md-8 col-xs-12 abstract">
            <div class="author">
              <a href="#">
                <img src="static/image/1_circle.jpg" alt="thumbnail" class="img-circle">
              </a>
              <div class="info">
                <a href="" class="nickname">JonathanLee</a>
                <span class="time"><small>昨天 19:00</small></span>
              </div>
            </div>
            <div class="article-abstract">
              <h3 class="title"><a href="#" class="link"><strong>Hello World!</strong></a></h3>
              <p>
                我认为生活最触动人心的地方还是居所，在每个忙忙碌碌备感疲惫的日子里，褪去那些坚强的无畏的热情的优秀的外衣，有个漂亮温柔的房子欢迎你治愈你，让你沉溺其中舒适得无法自拔。想象一下...
              </p>
            </div>
            <div class="meta">
              <a href="#" class="tag collection-tag">故事</a>
              <a target="_blank" href="#" class="tag">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true" ></span>
                <span class="badge" >999</span>
              </a>
              <a target="_blank" href="#" class="tag heart-empty-tag">
                <span class="glyphicon glyphicon-heart-empty" aria-hidden="true" ></span>
                <span class="badge" >999</span>
              </a>
              <a target="_blank" href="#" class="tag">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" ></span>
                <span class="badge" >999</span>
              </a>
              <a target="_blank" href="#" class="tag">
                <span class="glyphicon glyphicon-comment" aria-hidden="true" ></span>
                <span class="badge">999</span>
              </a>
            </div>
          </div>
          <div class="col-md-4 col-xs-12 content-img">
            <a href="#" class="thumbnail">
              <img src="/static/image/1.jpg" alt="moutain">
            </a>
          </div>
        </li>
        <li class="row card article-item">
          <div class="col-md-8 col-xs-12 content-text">
            <div class="author">
              <a href="#">
                <img src="/static/image/2_circle.jpg" alt="thumbnail" class="img-circle">
              </a>
              <div class="info">
                <a href="" class="nickname">JonathanLee</a>
                <span class="time"><small>昨天 19:00</small></span>
              </div>
            </div>
            <div class="content-abstract">
              <h3 class="title"><a href="#" class="link"><strong>Hello World!</strong></a></h3>
              <p>
                01 有一个阿姨，其实是一个不错的人，年轻的时候有很多机会离开这个小地方，可是她没有离开这个小地方，因为父母在不远游，想着父母年纪也大了，也不可能带着父母离开，所以就一直在这...
              </p>
            </div>
            <div class="meta">
              <a href="#" class="tag collection-tag">心理</a>
              <a target="_blank" href="#" class="tag">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true" ></span>
                <span class="badge" >999</span>
              </a>
              <a target="_blank" href="#" class="tag">
                <span class="glyphicon glyphicon-heart-empty" aria-hidden="true" ></span>
                <span class="badge" >999</span>
              </a>
              <a target="_blank" href="#" class="tag">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" ></span>
                <span class="badge" >999</span>
              </a>
              <a target="_blank" href="#" class="tag">
                <span class="glyphicon glyphicon-comment" aria-hidden="true" ></span>
                <span class="badge">999</span>
              </a>
            </div>
          </div>
          <div class="col-md-4 col-xs-12 content-img">
            <a href="#" class="thumbnail">
              <img src="/static/image/2.jpg" alt="moutain">
            </a>
          </div>
        </li>
        <li class="row card article-item">
          <div class="col-md-8 col-xs-12 content-text">
            <div class="author">
              <a href="#">
                <img src="/static/image/3_circle.jpg" alt="thumbnail" class="img-circle">
              </a>
              <div class="info">
                <a href="" class="nickname">JonathanLee</a>
                <span class="time"><small>昨天 19:00</small></span>
              </div>
            </div>
            <div class="content-abstract">
              <h3 class="title"><a href="#" class="link"><strong>Hello World!</strong></a></h3>
              <p>
                随心风雨同舟大步向前走 暴雨中痛算什么 擦干眼泪带着伤去拼搏 惊涛骇浪后泪算什么 谁也挡不住我的执着。 ...
              </p>
            </div>
            <div class="meta">
              <a href="#" class="tag collection-tag">人物</a>
              <a target="_blank" href="#" class="tag">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true" ></span>
                <span class="badge" >999</span>
              </a>
              <a target="_blank" href="#" class="tag">
                <span class="glyphicon glyphicon-heart-empty" aria-hidden="true" ></span>
                <span class="badge" >999</span>
              </a>
              <a target="_blank" href="#" class="tag">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" ></span>
                <span class="badge" >999</span>
              </a>
              <a target="_blank" href="#" class="tag">
                <span class="glyphicon glyphicon-comment" aria-hidden="true" ></span>
                <span class="badge">999</span>
              </a>
            </div>
          </div>
          <div class="col-md-4 col-xs-12 content-img">
            <a href="#" class="thumbnail">
              <img src="/static/image/3.jpg" alt="moutain">
            </a>
          </div>
        </li>
        <li class="row card article-item">
          <div class="col-md-8 col-xs-12 content-text">
            <div class="author">
              <a href="#">
                <img src="/static/image/4_circle.jpg" alt="thumbnail" class="img-circle">
              </a>
              <div class="info">
                <a href="" class="nickname">JonathanLee</a>
                <span class="time"><small>昨天 19:00</small></span>
              </div>
            </div>
            <div class="content-abstract">
              <h3 class="title"><a href="#" class="link"><strong>Hello World!</strong></a></h3>
              <p>
                玄幻题材一直都热。 《幻城》《九州·天空城》《爵迹》《鲛珠传》……没停过。 可惜，毛病很类似：故事套路，表演违和，动作还抓马。 虽说不好看，却声名在外，一直是群嘲的话题中心。...
              </p>
            </div>
            <div class="meta">
              <a href="#" class="tag collection-tag">电影</a>
              <a target="_blank" href="#" class="tag">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true" ></span>
                <span class="badge" >999</span>
              </a>
              <a target="_blank" href="#" class="tag">
                <span class="glyphicon glyphicon-heart-empty" aria-hidden="true" ></span>
                <span class="badge" >999</span>
              </a>
              <a target="_blank" href="#" class="tag">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" ></span>
                <span class="badge" >999</span>
              </a>
              <a target="_blank" href="#" class="tag">
                <span class="glyphicon glyphicon-comment" aria-hidden="true" ></span>
                <span class="badge">999</span>
              </a>
            </div>
          </div>
          <div class="col-md-4 col-xs-12 content-img">
            <a href="#" class="thumbnail">
              <img src="/static/image/4.jpg" alt="moutain">
            </a>
          </div>
        </li>
      </ul> --}}